html {
      overflow-y: scroll;
}

#textarea {
  width: 75%;
  height: 10rem;
}
.navcontainer {
  background-color: white;
  width: 74%;
  position: fixed;
  display: inline-flex;
  justify-content: space-between;
  border-style: solid;
  height: 4em;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 15px;
  z-index: 2;
  border-style: solid;
  border-width: thin;
  border-color: gray;
  transition: all 2.5s ease;
}
#flashmessage {
  border-style: solid;
  border-width: thin;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: .5%;
  padding-bottom: .5%;
  border-color: gray;
  margin-top: 15rem;
  position: fixed;
    color: green;
margin-left: 40%;
}
