#textarea {
  width: 75%;
  height: 10rem;
}
.navcontainer {
  background-color: white;
  width: 74%;
  position: fixed;
  display: inline-flex;
  justify-content: space-between;
  border-style: solid;
  height: 4em;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 15px;
  z-index: 2;
  border-style: solid;
  border-width: thin;
  border-color: gray;
  transition: all 2.5s ease;
}
