<div ng-controller="SessionController as sessionCtrl">



<div class='container'>

  <div class='navcontainer'>
    <a ng-href="articles" class="button">view articles</a>
    <a ng-href="articles/new" class="button">add articles</a>
    <form type="hidden" ng-submit="sessionCtrl.deleteSession()">
      <input type="submit" class="linkbutton" value="Log Out"></input></form>
    </div>

</div>

      <div ng-show="sessionCtrl.current_user.name">
      <% if flash[:message]%>
      <div id="flashmessage">
        <%= flash[:message]%>
      </div>
      <%end%>
    </div>
</div>

<script>
$(document).ready(function() {$("#flashmessage").delay(2500).fadeOut(500);});

</script>
